@model IEnumerable<WebStore.Models.Shoes>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Shoes";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">

            <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Shoes" ?
                    "active" : "")">@Html.ActionLink("Shoes", "Shoes", "Man")</li>
                    <li>@Html.ActionLink("Pants", "Pants", "Man")</li>

                    @* ליצור לזה מה שצריךךךך אין לנו כוח *@
                    <li>@Html.ActionLink("Shirts", "Shirts", "Man")</li>
                </ul>
            </div>
        </nav>
<div class="displayRow">
    @foreach (var item in Model)
    {
    <div class="displayCol">
        <img src="@Url.Content(item.ImgPath)" alt="Image" class="displayImg" />
       <p> @item.Price</p>
    </div>
    }
</div>

