@model IEnumerable<WebStore.Models.User>


@section Scripts {
    <script type="text/javascript">
        function updateBtnClicked(userId) {
            var userName = $('#userNameInput' + userId).val();
            var password = $('#passwordInput' + userId).val();
            var isAdmin = $('#isAdminInput' + userId).prop('checked');

            $.ajax({
                type: "POST",
                url: '/Users/Update',
                data: {
                    userId: userId,
                    userName: userName,
                    password: password,
                    isAdmin: isAdmin
                }
            });
        }

        function deleteBtnClicked(userId) {
            $.ajax({
                type: "POST",
                url: '/Users/Delete',
                data: {
                    userId: userId
                },
                success: function () {
                    window.location.reload();
                }
            });
        }

        $(document).ready(function () {
            $('#newUserBtn').on('click', function () {
                var userName = $('#newUserNameInput').val();
                var password = $('#newUserPasswordInput').val();
                var isAdmin = $('#newUserIsAdminInput').prop('checked');

                $.ajax({
                    type: "POST",
                    url: '/Users/Create',
                    data: {
                        userName: userName,
                        password: password,
                        isAdmin: isAdmin
                    },
                    success: function () {
                        window.location.reload();
                    }
                });
            });
        });

    </script>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(user => user.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(user => user.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(user => user.Password)
        </th>
        <th>
            @Html.DisplayNameFor(user => user.IsAdmin)
        </th>
        <th>Actions</th>
    </tr>
    @foreach (var user in Model)
    {

        <tr>
            <td>
                @Html.TextBoxFor(userModel => user.UserID, new { id = "userIdInput", disabled = true })
            </td>
            <td>
                @Html.TextBoxFor(userModel => user.UserName, new { id = "userNameInput" + user.UserID })
            </td>
            <td>
                @Html.TextBoxFor(userModel => user.Password, new { id = "passwordInput" + user.UserID })
            </td>
            <td>
                @Html.CheckBoxFor(userModel => user.IsAdmin, new { id = "isAdminInput" + user.UserID })
            </td>
            <td>
                <button class="btn btn-success" onclick="updateBtnClicked(@user.UserID)">Save</button>
                <button class="btn btn-danger" onclick="deleteBtnClicked(@user.UserID)">Delete</button>
            </td>
        </tr>

    }
    <tr>
        <td>
            Create new user with generated id
        </td>
        <td>
            <input type="text" placeholder="Enter new user name" id="newUserNameInput" />
        </td>
        <td>
            <input type="text" placeholder="Enter new user password" id="newUserPasswordInput" />
        </td>
        <td>
            <input type="checkbox" id="newUserIsAdminInput" />
        </td>
        <td>
            <button id="newUserBtn" class="btn btn-success">Create new user</button>
        </td>
    </tr>
</table>