<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title Shopping Store</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

</head>
<body>
	<div id="fb-root"></div>

	<div class="siteTop">
		<div class="row">
			<div class="col-sm-9">
				<div class="weather">
					<a href="https://www.accuweather.com/en/il/tel-aviv/215854/weather-forecast/215854" class="aw-widget-legal">
					</a><div id="awcc1539872498791" class="aw-widget-current" data-locationkey="" data-unit="c" data-language="en-us" data-useip="true" data-uid="awcc1539872498791"></div>
					<script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
				</div>
			</div>		
            <div class="col-sm-3">
                <a href='@Url.Action("Index", "Map")'>
                    <i class="glyphicon glyphicon-map-marker icon"></i>
                </a>
                <a href='@Url.Action("Info", "Home")'>
                    <i class="glyphicon glyphicon-info-sign icon"></i>
                </a>
                <a href='@Url.Action("Graph", "Graph")'>
                    <i class="glyphicon glyphicon-stats icon"></i>
                </a>
                <a href='@Url.Action("Index", "Order")'>
                    <i class="glyphicon glyphicon-shopping-cart icon"></i>
                </a>

                @if (Request.IsAuthenticated)
                {
                    <a href='@Url.Action("Logout", "Login")'>
                        <i class="glyphicon glyphicon-log-out icon"></i>
                    </a>

                }
                else
                {
                    <a href='@Url.Action("Login", "Login")'>
                        <i class="glyphicon glyphicon-log-in icon"></i>
                    </a>
                }

            </div>
		</div>
	</div>



	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
            <ul class="nav navbar-nav">
                    <li class="navbarItem @(ViewContext.RouteData.Values["Action"].ToString() == "AllItems" ?
                    "active" : "")">@Html.ActionLink("All", "AllItems", "Item")</li>
                    <li class="navbarItem @(ViewContext.RouteData.Values["Action"].ToString() == "AllMenItems" ?
                    "active" : "")">@Html.ActionLink("Man", "AllMenItems", "Item")</li>
                    <li class="navbarItem @(ViewContext.RouteData.Values["Action"].ToString() == "AllWomenItems" ?
                    "active" : "")">@Html.ActionLink("Woman", "AllWomenItems", "Item")</li>
                @if (Request.GetOwinContext().Authentication.User.Claims.FirstOrDefault(x => x.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role")?.Value == "admin")
                {
                    <li class="navbarItem @(ViewContext.RouteData.Values["Action"].ToString() == "ManageUsers" ?
                    "active" : "")">@Html.ActionLink("Manage users", "Index", "Users")</li>
                    <li class="navbarItem @(ViewContext.RouteData.Values["Action"].ToString() == "ManagePickUpPoints" ?
                    "active" : "")">@Html.ActionLink("Manage pickUpPoints", "Index", "PickUpPoints")</li>
                    <li class="navbarItem @(ViewContext.RouteData.Values["Action"].ToString() == "ManageOrders" ?
                    "active" : "")">@Html.ActionLink("Manage orders", "Index", "Orders")</li>
                }

                </ul>
			</div>
		</nav>
		<div class="row body-content">
			@RenderBody()
		</div>

		@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")
		@RenderSection("scripts", required: false)
	</body>
</html>
